<mat-toolbar color="primary">
  <span>RxJs Operators</span>
  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <button mat-raised-button color="accent" class="nav-button">
    <a class="links" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
  </button>
  <button mat-raised-button color="accent" class="nav-button">
    <a class="links" routerLink="/map" routerLinkActive="active">Map</a>
  </button>
</mat-toolbar>
